&spi3 {
  status = "okay";
  cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

  sdhc2: sdhc@0 {
    compatible = "zephyr,sdhc-spi-slot";
    reg = <0>;
    status = "okay";
    mmc {
      compatible = "zephyr,sdmmc-disk";
      disk-name = "SD";
      status = "okay";
    };
    spi-max-frequency = <24000000>;
  };
};
